name: Scrape White House Briefing Room

on:
  push:
  workflow_dispatch:
  schedule:
  - cron:  '28 */2 * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: r-lib/actions/setup-pandoc@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "_scraper/pyproject.toml"
    - name: Scrape
      run: |
        cd _scraper
        uv run main.py ..
    - name: Commit and push
      run: |-
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        git add -A
        timestamp=$(date -u)
        git commit -m "Update at ${timestamp}" || exit 0
        git pull --rebase
        git push
